
/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body {
  height: 100%;
  width: 100%;
  font-family: montserrat, arial, verdana;
}

.text-justify {
  text-align: justify;
}

.hidden {
  display: none;
}

.showDiv {
  display: block;
}

.margin-10L {
  margin-left: 10px;
}

.margin-20L {
  margin-left: 20px;
}

.width-184px{
  width: 184px;
}

.width-227px{
  width: 227px;
}

.bold {
  font-weight: bold;
}

.btn .caret {
  color: #55b776;
  margin-left: 0; 
  margin-top: 8px; 
  float: right;
}

.container .dropdown-menu {
  position: static;
  float: none;
}

#invoiceForm {
  padding: 20px;
}

.required-input {
  border-color:red;
}
.has-error {
  color: red;
}

.hr-border {
  border: 2px solid #55B776;
}

.required-text {
  color: red;
}

body {
  background: transparent;
}

.header {
  background-image: url('../img/bg2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  min-width:100%;
}

.header img {
  width: 100%;
  opacity: 0.5;
}

.header h1 {
  margin-top: 200px;
  padding: 0;
  font-size: 5em;
}

.required {
  color: #EB1844;
  font-weight: bold;
  content: "";
}

#registrationForm {
  padding: 20px;
}

.thumbnail img {
  width: 150px;
  height: 108px;
}

#myModal .modal-content
{
  height:400px;
  overflow:auto;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.btn-decorate {
  width: 85px;
  height: 42px;
}

.uploadBtn {
  border-radius: 0 !important;
  width: 145px;
  height: 35px;
  text-align: center;
  border: 2px solid #55b776 !important;
  margin:auto;
  display:block;
  color: #55b776 !important;
  margin-top: 15px;
  margin-bottom: 35px;
  font-size: 14px;
}

#footerwrap {
    padding-top: 70px;
    background-color: #556175;
}

#footerwrap p {
    color: #ffffff;
    margin-left: 10px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    max-width: 100%;
    max-height: auto;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed #286090;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    height: auto;
    border: 2px solid #55b776 !important;
}
.progress div {
    text-align: center;
    font-size: 14px;
    background: #55b776;
}

.delete-btn {
  margin-left: 5px;
}

@media only screen and (max-width: 768px) {
  .header {
    display: none;
  }
}

.table-responsive {
  max-height: 500px;
}

