<!DOCTYPE html>
<html lang="en" ng-app="bulkApp" ng-controller="bulkCtrl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>User Bulk Upload</title>

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/intl-tel-input/css/intlTelInput.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="js/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>

    <!-- angularjs -->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- controller -->
    <script type="text/javascript" src="js/controller.js"></script>
    <script type="text/javascript" src="vendor/intl-tel-input/js/intlTelInput.min.js"></script>
    <script type="text/javascript" src="vendor/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="vendor/ng-file-upload-shim.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

  </head>
  <body>
    <div class="header">
      <div class="container text-center" ng-if="step != 3">
        <h1>Invoice Management System</h1>
        <p>This is the online application to store your invoice records.</p>
        <p><a class="btn btn-primary btn-lg" href="#invoiceForm" role="button">Scroll Down</a></p><br />
      </div>
    </div>

    <div class="container">
        <form id="invoiceForm" class="form-horizontal" name="invoiceForm" novalidate="">
            <div class="form-group" ng-class="step === 1 ? 'content-step step1' : 'content-step step1 hide'">
              <div class="text-center">
                <h1>User Section</h1>
                <p>Please fill all the required fields carefully.</p>
              </div><br />

              <div class="text-center">
                <p class="lead">Please upload copy of invoice document. You must upload a document for each invoice entered.</p>
              </div><br />

              <div class="row">
                <div class="col-sm-3 col-md-3"></div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="thumbnail">
                    <img class="document-upload" src="img/bill.jpg" alt="utility-bill">
                    <div class="caption">
                      <h3><span class="required">*</span>Invoice</h3>
                      <ul>
                        <li>Upload scanned copies only</li>
                        <li>Minimal resolution must be 300dpi</li>
                        <li>Utility Bill issued less than 3 months ago</li>
                        <li>File format must be PDF, JPEG or PNG</li>
                        <li>Please refer to the example above</li>
                      </ul>
                    </div>

                    <div class="text-center">
                        <button type="button" class="uploadBtn btn-default" ngf-select="upload($files,0)" ngf-multiple="true" nfg-accept="'.pdf,.jpeg,.jpg,.png'" accept=".pdf,.jpeg,.jpg,.png">Browse</button>
                    </div>
                    <!-- drop file -->
                    <div ngf-drop ngf-select ng-model="files" class="drop-box text-center" 
                        ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                        ngf-accept="'.pdf,.jpeg,.jpg,.png'"
                        accept="'.pdf,.jpeg,.jpg,.png'"
                        ngf-max-size="2MB" required
                        ngf-pattern="'.pdf,.jpeg,.jpg,.png'"
                        ngf-model-invalid="errorFile">Drop pdfs or images here or click to upload<br />
                    
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                    <!-- Files: -->
                    <!-- Upload Progress: -->
                    <span class="progress" ng-show="progressPercentage >= 0">
                      <div style="width: {{progressPercentage}}%" ng-bind="progressPercentage + '%'">
                      </div>
                    </span>
                    <!-- drop file ends -->
                    </div>
                    <ul>
                        <li ng-repeat="f in files" style="font:smaller; font-weight: bold;">{{f.name}} <a href="#" class="delete-btn" ng-click="clickDelete($index)">X</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-3 col-md-3"></div>
              </div><br />

              <div class="text-center">
                <p>Please fill all the required fields carefully according to per invoice.</p>
              </div><br />

              <div class="form-group">
                  <label class="col-xs-3 control-label"><span class="required">*</span>Invoice Number</label>
                  <div class="col-xs-6" ng-class="{ 'has-error' : invoiceForm.invNo.$invalid && !invoiceForm.invNo.$pristine }">
                      <input id="invNo" type="text" class="form-control" name="invNo" ng-model="invNo" placeholder="Invoice No." required="true"  />
                  </div>
                  <span ng-show="invoiceForm.invNo.$invalid && !invoiceForm.invNo.$pristine" class="required-text">Invoice No. is required.</span>
              </div>

              <div class="form-group">
                <label class="col-xs-3 control-label"><span class="required">*</span>Invoice Date</label>
                  <div class="col-xs-6" ng-class="{ 'has-error' : invoiceForm.invDate.$invalid && !invoiceForm.invDate.$pristine }">
                      <input type="text" id="datepicker" class="form-control" name="invDate" ng-model="invDate" placeholder="Invoice Date" required="true" />
                  </div>
                  <span ng-show="invoiceForm.invDate.$invalid && !invoiceForm.invDate.$pristine" class="required-text">Invoice Date is required.</span>
              </div>

              <div class="form-group">
                <label class="col-xs-3 control-label"><span class="required">*</span>Invoice Amount</label>
                  <div class="col-xs-6" ng-class="{ 'has-error' : invoiceForm.invAmt.$invalid && !invoiceForm.invAmt.$pristine }">
                      <input type="number" class="form-control" name="invAmt" placeholder="Invoice Amount" ng-model="invAmt" required="true" />

                    Default currency symbol (฿): <span id="currency-default">{{invAmt | currency: "฿"}}</span><br>
                  </div>
                
                  <span ng-show="invoiceForm.invAmt.$invalid && !invoiceForm.invAmt.$pristine" class="required-text">Invoice Amount is required.</span>
              </div>


              <div class="form-group">
                  <label class="col-xs-3 control-label"><span class="required">*</span>Customer No.</label>
                  <div class="col-xs-6 col-sm-6 col-md-4" ng-class="{ 'has-error' : invoiceForm.custNum.$invalid && !invoiceForm.custNum.$pristine }">
                      <input type="text" class="form-control" name="custNum" ng-model="custNum" />
                  </div>
                  <span ng-show="invoiceForm.custNum.$invalid && !invoiceForm.custNum.$pristine" class="required-text">Customer is required.</span>
              </div>

              <div class="form-group">
                  <label class="col-xs-3 control-label"><span class="required">*</span>Customer's Country</label>
                  <div class="col-xs-6 col-sm-6 col-md-4">
                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle width-184px" type="button" data-toggle="dropdown">{{selectedCountry.name}}
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu scrollable-menu">
                          <li ng-repeat="country in countryList"><a href="javascript:void(0)" ng-click="changeClickCountry(country)">{{country.name}}</a></li>
                        </ul>
                      </div>
                  </div>
                  <div id="moneyAlert" class="hide" role="alert">
                    <p class="required-text">Country is required.</p>
                  </div>
              </div>

              <!-- Products Information -->
              <div class="form-group">
                  <label class="col-xs-3 control-label"><span class="required">*</span>Specific Products?</label>
                  <div class="col-xs-6 col-sm-6 col-md-4">
                      <div class="radio">
                          <label>
                              <input type="radio" name="radio2" ng-model="radio2" ng-value="0" /> Yes
                          </label>
                      </div>
                      <div class="radio">
                          <label>
                              <input type="radio" name="radio2" ng-model="radio2" ng-value="1" /> No
                          </label>
                      </div>
                  </div>
                  <p id="chooseProduct" class="required-text hide">Please select if specific product.</p>
              </div><br />

              <!-- Item names -->
              <div class="form-group">
                  <label class="col-xs-3 control-label"><span class="required">*</span>Item name</label>
                  <div class="col-xs-6 col-sm-6 col-md-4">
                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle width-184px" type="button" data-toggle="dropdown" ng-disabled="radio2 != 0">{{selectedItem.value}}
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li ng-repeat="item in getItem"><a href="javascript:void(0)" ng-click="changeClickItem(item)">{{item.value}}</a></li>
                        </ul>
                      </div>
                  </div>
                  <div id="moneyAlert" class="hide" role="alert">
                    <p class="required-text">Item name is required.</p>
                  </div>
              </div><br />
              <!-- Item cost -->
             <div class="form-group">
                  <label class="col-xs-3 control-label"><span class="required">*</span>Item cost</label>
                  <div class="col-xs-6 col-sm-6 col-md-4" ng-class="{ 'has-error' : invoiceForm.itemCost.$invalid && !invoiceForm.itemCost.$pristine }">
                      <input type="text" class="form-control" name="itemCost" ng-model="itemCost" placeholder="Item cost" required="true" ng-disabled="radio2 != 0"  />
                  Default currency symbol (฿): <span id="currency-default">{{itemCost | currency: "฿"}}</span><br>
                  </div>
                  <span ng-show="invoiceForm.itemCost.$invalid && !invoiceForm.itemCost.$pristine" class="required-text">Cost is required.</span>
              </div>
              <br />
              <div class="form-group">
                  <div class="text-center">
                      <button class="btn btn-success btn-decorate margin-10L" name="submit" value="upload" ng-click="clickToUpload()" ng-disabled='invoiceForm.$invalid && radio2 != 1' >Upload</button>
                  </div>
              </div>
            </div>
            <hr class="hr-border" />
            <div>
              <h1 class="text-center">Approval Section</h1>
              <div style="padding:20px 0px 60px 0px">
                <span class="col-md-1" style="font-weight:bold">Search</span>
                <span class="col-md-3">
                <input type="text" class="form-control" ng-model="searchKeyword"/>
                </span>
                <p>Search specific invoice from specific customers, amounts, due dates, countries and products.</p>
              </div>
              <div class="table-bordered table-responsive text-center">
                <table class="table table-bordered">
                  <tr>
                    <th>Inv. No.
                    </th>

                    <th>Inv. Date
                    </th>

                    <th>Inv. Amt.
                    </th>

                    <th>Customer No.
                    </th>

                    <th>Country
                    </th>

                    <th>Item Name
                    </th>

                    <th>Item Cost
                    </th>

                    <th>File
                    </th>

                    <th>Action
                    </th>
                  </tr>
                  <tr ng-repeat="data in modelData  | filter: searchKeyword ">
                    <td>{{data.invNo}}
                    </td>

                    <td>{{data.invDate}}
                    </td>

                    <td>{{data.invAmt}}
                    </td>

                    <td>{{data.custNum}}
                    </td>

                    <td>{{data.country}}
                    </td>

                    <td>{{data.item}}
                    </td>

                    <td>{{data.itemCost}}
                    </td>

                    <td>{{data.fileList}}
                    </td>

                    <td>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Approve"><i class="fa fa-check fa-2x" aria-hidden="true" style="color: green; padding-right: 5px;"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Reject"><i class="fa fa-ban fa-2x" aria-hidden="true" style="color: orange; padding-right: 5px;"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" style="color: #286090; padding-right: 5px;"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash-o fa-2x" aria-hidden="true" ng-click="removeInvoice(data.invNo)" style="color: red; padding-right: 5px;"></i></a>
                    </td>

                  </tr>
                </table>
              </div>

            </div>
        </form>
    </div>
  </body>

  <script>
    $(document).ready(function() {
        $("#datepicker").datepicker({ maxDate: new Date, minDate: new Date(2017, 05, 25) });
        $('[data-toggle="tooltip"]').tooltip();
    });

    // Scrolls to the selected menu item on the page
    $(function() {
      $('a[href*=\\#]:not([href=\\#])').click(function() {
          if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
              if (target.length) {
                  $('html,body').animate({
                      scrollTop: target.offset().top
                  }, 300);
                  return false;
              }
          }
      });
    });
  </script>

  </html>
